.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article {
    max-width: 800px;
    width: 100%;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .date {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .imageContainer {
    max-width: 50%;
    margin-bottom: 20px;
  }
  
  .content {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  