.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  max-width: 50rem;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.date {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.imageContainer {
  max-width: 50%;
  margin-bottom: 20px;
}

.content {
  font-size: 1.1rem;
  line-height: 1.6;
}

.content h2 {
  font-size: 24px; /* Larger font size for h2 headings */
  margin-top: 20px;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 20px; /* Medium font size for h3 headings */
  margin-top: 18px;
  margin-bottom: 8px;
}

.content p {
  font-size: 16px; /* Standard font size for paragraph text */
  line-height: 1.6; /* Spacing between lines */
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5)
}

.content hr {
  border: 0;
  height: 1px;
  background-color: #fff; /* Light grey horizontal line */
  margin-top: 20px;
  margin-bottom: 20px;
}

.content ul {
  list-style-type: disc; /* Bullet points for list items */
  margin-left: 20px; /* Indent list items */
}

.content li {
  font-size: 16px; /* Matching paragraph text size for list items */
  margin-bottom: 8px; /* Space between list items */
}
  