/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports


 /**! No body styling atm. */
/*body {*/
/*  position: relative;*/
/*  color: white;*/
/*  height: 100vh;*/
/*  background: linear-gradient(*/
/*    200.96deg,*/
/*    #fedc2a -29.09%,*/
/*    #dd5789 51.77%,*/
/*    #7a2c9e 129.35%*/
/*  );*/
/*  font-family: sans-serif;*/
/*  overflow-y: hidden;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,300;1,400;1,600;1,700&display=swap');

:root {
  --background-color: #252422;
  --text-color: #fffcf2;
  --highlight-color: #eb5e28;
  --forground-color: #403d39;
  --link-color: #ccc5b9;
}

html {
  font-family: 'Poppins';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}
body{
  position: relative;
}

.btn {
  margin-top: 1em;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
