@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Object Sans";
  src: url("../../public/fonts/ObjectSans-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Object Sans";
  src: url("../../public/fonts/ObjectSans-Heavy.otf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: "Object Sans", sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

/* Typography */
h1 {
  font-weight: bold;
  font-size: 2rem;
letter-spacing: -0.768px;
line-height: 100%;
}


h2 {
  font-weight: bold;
  line-height: 100%;
}


h3 {
  font-weight: bold;
  font-size: 1.5rem;
letter-spacing: -0.576px;
line-height: 100%;
}


/* For gradient text */
.gradient-text {
  background: linear-gradient(90deg, #F68A71 -2.29%, #D801D1 81.02%, #EC0505 113.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.navlink {
  font-weight: bold;
} 

.navlink:hover {
opacity: 0.5
}



/* BUTTONS */
button {
transition: all;
}

button:hover {
  scale: 95%;
}

.btn_1 {
  display: flex;
padding: 1rem 3rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 1000px;
background: #182336;
color: white
}

.btn_1_alt {
  display: flex;
padding: 1rem 3rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 1000px;
background: white;
color: #182336;
}

.btn_2 {
  display: flex;
padding: 1rem 3rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 1000px;
background: rgba(24, 35, 54, 0.06);
color: black
}

.btn_2_alt {
  display: flex;
padding: 1rem 3rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 1000px;
background: rgba(255, 255, 255, 0.06);
color: white
}


.btn_3 {
  align-items: center;
  border: 0;
  border-radius: 1000px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  line-height: 1em;
  font-weight: bold;
  min-width: 100px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, #F68A71 -2.29%, #D801D1 81.02%, #EC0505 113.41%);
  --angle: 0deg;
	background: linear-gradient(white, white) padding-box, conic-gradient(from var(--angle),  #F68A71, #D801D1 , #ffffff ) border-box;
	border: 2px solid transparent;
	animation: rotate-gradient 3s infinite linear;
}

@property --angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

@keyframes rotate-gradient {
	from { --angle: 0deg; }
	to { --angle: 360deg; }
}



.benefits-bg {
  background: linear-gradient(180deg, rgba(248, 250, 255, 0.00) 0%, #F8FAFF 100%);
}


.gradient-bg {
  background: var(--Linear-primary, linear-gradient(90deg, #F68A71 -2.29%, #D801D1 81.02%, #EC0505 113.41%));
}


/* FOr Moving Gradient */
.cta-bg {
background: linear-gradient(180deg, #45659C -59.16%, #182336 99.89%);
  background-size: 400% 400%;
  animation: backgroundChange 15s ease infinite;
}

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* md screens */
@media (min-width: 768px) {
   /* Typography */
   h1 {
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -1.344px;
    line-height: 110%;
  }


  h2 {
    font-weight: bold;
    line-height: 100%;
  }
  
  
  h3 {
    font-weight: bold;
    font-size: 2.5rem;
  letter-spacing: -0.96px;
  line-height: 110%;
  }
}



/* lg screens */
@media (min-width: 1024px) {
   /* Typography */
   h1 {
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -1.344px;
    line-height: 110%;
  }


  h2 {
    font-weight: bold;
    line-height: 100%;
  }
  
  
  h3 {
    font-weight: bold;
    font-size: 2.5rem;
  letter-spacing: -0.96px;
  line-height: 110%;
  }
  
}






















/* OLD STYLES */
/* Default styles: stacked buttons for small devices */
.buttons {
    flex-direction: column;
    gap: 1rem; /* adjust vertical spacing for stacked buttons */
}

/* Media query for larger screens (e.g., tablets and desktops) */
@media (min-width: 720px) { /* 640px is typically the breakpoint for medium screens in Tailwind */
    .buttons {
        flex-direction: row;
        gap: 3rem; /* adjust horizontal spacing for side-by-side buttons */
    }
}


/* button span {
  background-color: rgb(5, 6, 45);
  padding: 10px 20px;
  border-radius: 6px;
  transition: 300ms;
} */

.btn_1:hover span {
  background: none;
}

.btn_1:active {
  transform: scale(0.9);
}

.btn_2:hover span {
  background: none;
  background-color: white;
  color: rgba(17, 31, 53, 255);
}

.hero_text {
  background: linear-gradient(144deg, #f68a71, #d801d1 80%, #ec0505);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.logo_image {
  border-radius: 50px;
  align-items: center;
  background: linear-gradient(144deg, #f68a71, #d801d1 80%, #ec0505);
  -webkit-text-color: transparent;
  border: 0;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: linear-gradient(144deg, #f68a71, #d801d1 80%, #ec0505);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
  overflow-x: hidden;
}

.circle:nth-child(1) {
  top: -35px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -65px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

/* switch */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

@media (max-width: 576px) {
}

/* @media (max-width: 768px) {
  #header{
    padding: 2em 2em;
  }
} */

@media (max-width: 1200px) {
 
  

  .hero_intro_text {
    line-height: 1.3em;
  }

  #hero {
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  

  
  .hero_intro_text {
    font-size: 34px;
  }
  .text-lg {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .hero_intro_text {
    font-size: 48px;
  }
  .text-lg {
    font-size: 18px;
  }
}



.icon-button-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon-button-container svg {
    width: 32px;
    height: 32px;
}

.blogPost {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .blogPost {
    width: 100%;
  }
}
